.project-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: transitionIn 1s linear;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(+200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-main {
  width: 70%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.projects {
  position: relative;
}

.project-img {
  height: 100%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100);
  transition: filter 1s;
}

.project-img:hover {
  filter: grayscale(0);
}

.project1 {
  background-image: url(../materials/project1.jpg);
}

.project2 {
  background-image: url(../materials/project2.jpg);
}

.project3 {
  background-image: url(../materials/project3.jpg);
}

.project4 {
  background-image: url(../materials/project4.jpg);
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-details * {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .project-page {
    width: 100%;
    height: auto;
  }

  .project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .project-img {
    width: 250px;
    height: 100px;
    filter: none;
  }
}
