@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.fixed {
  position: fixed;
  z-index: 2;
}

/* For Page Navigation */

.nav-link {
  font-size: 13px;
}

.about {
  top: 20px;
  width: 100%;
  text-align: center;
}

.nav-project {
  right: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  text-align: center;
}

.contact {
  width: 100%;
  text-align: center;
  bottom: 20px;
}

.certifications {
  left: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  text-align: center;
}

.nav-link {
  border-radius: 1px;
  padding: 10px;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 500ms, color 500ms;
}

.nav-link:hover {
  background-size: 100% 100%;
  background-position-x: left;
  color: #141414;
}

.logo > img {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
